/* Course Section Styles */
.courses-section {
    margin-top: 32px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.section-title {
    font-family: 'Nortica-Medium', sans-serif !important;
    color: #37474F !important;
    font-size: 20px !important;
}

.courses-count {
    color: #37474F;
    opacity: 0.6;
    font-size: 14px !important;
}

/* Course Card Styles */
.courses-slider {
    position: relative;
    margin: 0 -8px;
}

.courses-container {
    display: flex;
    gap: 24px;
    overflow-x: hidden;
    padding: 8px;
}


.course-image {
    width: 200px;
    position: relative;
}

.course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-details {
    flex: 1;
    padding: 20px;
    position: relative;
    background: #FAF9F6;
}

.course-title {
    font-size: 20px;
    color: #37474F;
    margin-bottom: 8px;
}

.course-tutor {
    font-size: 16px;
    color: #647787;
    margin-bottom: 16px;
}

.progress-bar-container {
    width: 100%;
    height: 8px;
    background: #E0E0E0;
    border-radius: 10px;
    overflow: hidden;
}


.enroll-button {
    width: 100%;
    padding: 12px;
    background: #37474F;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Nortica-Medium', sans-serif;
    font-size: 14px;
}

.course-tag {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px 12px;
    border-radius: 4px;
    color: #37474F;
    font-size: 14px;
}

.course-tag.optional {
    background: #FDC886;
    color: #37474F;
}

.course-tag.mandatory {
    background: #FFB74D;
    color: #37474F;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.slider-button.right {
    right: -20px;
}

/* Available Courses Grid */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
    margin-top: 24px;
    padding: 10px;
}

.last-date {
    position: absolute;
    left: 12px;
    top: 12px;
    background: rgba(55, 71, 79, 0.8);
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
}
